* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #da7b3c;
  padding: 20px 10px;
}

.n1{
    text-align: center;
    justify-content: center;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}



.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}






.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(202, 98, 98);
  }

  .pa1c{
      background-color: aquamarine;
      text-transform: capitalize;
  }


  /* file,list,basic concept */
  .f11{
      box-sizing:border-box ;
      background-color: chartreuse;
  }

  /* only for file*/
  #t1{
      background-color: #f1f1f1;
      border-radius: 3px;
  }


/* table*/
table, th, td {
    border: 1px solid;
    justify-content: center;
    text-align: center;

  }

  th {
    background-color: #33b8cf;
    color: white;
  }

  tr{
      background-color: darkgrey;
      color: aliceblue;
  }


/* form css*/
input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 100%;
}

#r1{
    box-shadow: #33b8cf;
    border: 12px;
    border-color: aqua;

}

.for1{
    background-color: #cfc533;
}

.s1{
    background-color: rgb(100, 39, 160);
    color:blanchedalmond;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.s1:hover{
    background-color: blue;
}